* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.newCaseContainer {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: center;

}

.userDetails {
    width: 80%;
    min-height: 90vh;

}

.input-form {
    padding: 5vh 0;
}

.input-form label {
    font-size: 1.3em;
    font-weight: 500;
    margin: 10px;
}

.input-form input {
    margin: 5px 10px;
    min-width: 300px;
    padding: 5px 10px;
    border-radius: 5px;
}