* {
    margin: 0;
    padding: 0;
}

.sup-container {
    width: 100%;
    height: 90vh;
    /* top: 10vh; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    flex-direction: column;
}

.support-back-image {
    z-index: -999;
    filter: blur(5px);
    object-fit: cover;
}

.upper-section {
    top: 0;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
}

.full-search-bar {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: row;
    margin: 15px;
}

.search-bar {
    width: 50vw;
    height: 45px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 30px;
}

.search-bar:focus {
    outline: none;
    border: none;
}

.search-bar::placeholder {
    font-size: 1.1em;
    font-weight: 500;

}

.search-btn {
    width: 10vw;
    height: 45px;
    border: none;
    background-color: #767474;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.025em;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

.support-heading {
    font-size: 3em;
    color: #fff;
}

.bottom-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50vh;
    background-color: #f7f4f4;
    top: 40vh;
    flex-direction: row;
    z-index: 99;


}

.sup-items {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0 50px;
    align-items: center;
    justify-content: space-evenly;

}

.sup-card {
    display: flex;
    list-style: none;
    margin: 0 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 1.4em;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.sup-card span {
    font-size: 0.65em;
    font-weight: 500;
    text-align: center;
}

.sup-card img {
    z-index: 999;
    height: 130px;
    width: 130px;
    position: relative;
}